<section id="hero">
  <div class="hero-glow"></div>
  <div class="W">
    <div class="hero-pill r">
      Система управления ресурсами кооператива
    </div>
    
    <h1 class="t1 hero-h1 r d2">
      Управление <br>кооперативом —<br> <em>онлайн</em>
    </h1>
    <p class="hero-p r d3">
      Регистрация пайщиков, реестры, решения совета и общие собрания — всё онлайн. Цифровой Кооператив формирует полный пакет юридически значимых документов автоматически, при нажатии кнопок.
    </p>
    <div class="hero-btns r d4">
      <a href="#connect" class="btn btn-g">Подключить кооператив</a>
      <a href="#ready" class="btn btn-o">Возможности →</a>
    </div>
  </div>
</section>
